* {
  font-family: "Merriweather", serif;
}
h1,
h2,
h3 {
  font-family: "PT Mono", monospace;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
  margin: 0;
}
h3 {
  background-color: #283618;
  width: fit-content;
  padding: 5px 10px;
  color: #e9edc9;
}
body {
  background-color: #f1f4e0;
  color: #283618;
}

.content {
  padding: 2em;
  height: 100vh;
  overflow-x: scroll;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

footer {
  position: relative;
  bottom: 0;
  padding: 1.5em;
  width: 100%;
  background-color: #283618;
  color: #f1f4e0;
}

.icons svg {
  color: #283618;
  height: 2em;
  padding-right: 1.2em;
  width: auto;
}
.icons {
  display: flex;
  /* background-color: red; */
  padding: 1.2em 0;
}

a {
  color: #457b9d;
  font-weight: 700;
}

ul {
  list-style: none;
}

li:before {
  content: ">";
}

table {
  width: 100%;
}

td {
  border-bottom: 1px solid #283618;
}
th {
  display: none;
}

td {
  padding: 10px;
}
tr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.project-table td:first-child {
  font-weight: 700;
}
